$breakpoint-list: (
    xxs     : 320px,     // 320px 20rem
    xs      : 768px,     // 768px 48rem
    sm      : 1024px,     // 1024px 64rem
    md      : 1376px,     // 1376px 86rem
    lg      : 1632px,    // 1632px 102rem
);