$font-fontsDir: '../fonts/';

@font-face {
    font-family: 'BeVietnam-Regular';
    src:
        url('#{$font-fontsDir}BeVietnam-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BeVietnam-Medium';
    src:
        url('#{$font-fontsDir}BeVietnam-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BeVietnam-MediumItalic';
    src:
        url('#{$font-fontsDir}BeVietnam-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BeVietnam-Bold';
    src:
        url('#{$font-fontsDir}BeVietnam-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BeVietnam-BoldItalic';
    src:
        url('#{$font-fontsDir}BeVietnam-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}