// stylelint-disable property-no-unknown
@mixin font-face() {

    $font-style: (
        "black": "Black.ttf",
        "blackItalic": "BlackItalic.ttf",
        "bold": "Bold.ttf",
        "boldItalic": "BoldItalic",
        "italic": "Italic.ttf",
        "light": "Light.ttf",
        "lightItalic": "LightItalic.ttf",
        "medium": "Medium.ttf",
        "regular": "Regular.ttf",
        "thin": "Thin.ttf",
        "thinItalic": "ThinItalic.ttf"
    );

    @each $value, $src in $font-style {
        @font-face {
            font-family: "Roboto-#{$value}";
            src: url("../fonts/Roboto/Roboto-#{$src}");
        }
    }
}

@include font-face();

$typography-font-family-base: 'Roboto', helvetica, arial, sans-serif;

$typography-font-weight-values: (
    light: "wght" 300,
    regular: "wght" 400,
    semiBold: "wght" 500,
    bold: "wght" 700,
);

$typography-font-size-root: 100%;
$typography-line-height-base: 1.875;

// Font sizes are computed from pixels to rem for better connection with design.
$_typography-font-size-root-in-px: calc($typography-font-size-root / 100% * 16);

$typography-scale: (
    m4: (
        calc(10 / $_typography-font-size-root-in-px) + rem,
    ),
    m3: (
        calc(12 / $_typography-font-size-root-in-px) + rem,
    ),
    m2: (
        calc(14 / $_typography-font-size-root-in-px) + rem,
    ),
    m1: (
        calc(15 / $_typography-font-size-root-in-px) + rem,
    ),
    0: (
        calc(16 / $_typography-font-size-root-in-px) + rem,
    ),
    1: (
        calc(18 / $_typography-font-size-root-in-px) + rem,
    ),
    2: (
        calc(20 / $_typography-font-size-root-in-px) + rem,
    ),
    3: (
        calc(22 / $_typography-font-size-root-in-px) + rem,
    ),
    4: (
        calc(25 / $_typography-font-size-root-in-px) + rem,
    ),
    5: (
        calc(27 / $_typography-font-size-root-in-px) + rem,
    ),
    6: (
        calc(35 / $_typography-font-size-root-in-px) + rem,
    ),
    7: (
        calc(50 / $_typography-font-size-root-in-px) + rem,
    ),
);

@mixin font-size($size) {
    font-size: map-get($typography-scale, $size);
}