html {
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-size: 100%;
    color: #1a304d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}

// body {
//     @include @darkmode {
//         background-color: @ui-colors-primary[darkBlue];
//     }
// }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset {
    min-width: 0;
    border: 0;
}
