@keyframes cloudMove {
    0% {
        transform: translate(-10px, -10px);
    }

    25% {
        transform: translate(-5px, -15px);
    }

    50% {
        transform: translate(5px, -12px);
    }

    75% {
        transform: translate(10px, -5px);
    }

    100% {
        transform: translate(-10px, -10px);
    }
}