@use '../settings/typography' as *;

@mixin list-unstyled() {
    padding-left: 0;
    list-style: none;
}

@mixin link-unstyled() {
    text-decoration: none;
    color: inherit;
    border-bottom: 0;
}