.u-typographyUppercase {
    text-transform: uppercase !important;
}

.u-typographyLeft {
    text-align: left !important;
}

.u-typographyCenter {
    text-align: center !important;
}

.u-typographyRight {
    text-align: right !important;
}