@use '../../settings/colors' as *;
@use '../../settings/typography' as *;
@use '../../tools/breakpoint';

.CalcLayout {
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 300;
    }
}