@use '../../settings/colors' as *;
@use '../../settings/spacing';
@use '../../tools/breakpoint';
@use '../../settings/typography' as *;
@use '../../tools/animation' as *;

@keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.Counter-dot {
    position: absolute;
    top: 10px;
    left: 100px;
    display: flex;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--black);
}

.Counter-dot {
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.Counter-dot:nth-child(2) {
    animation-delay: .2s;
    left: 130px;
}

.Counter-dot:nth-child(3) {
    animation-delay: .4s;
    left: 160px;
}

.Counter-dot:nth-child(4) {
    animation-delay: .6s;
    left: 190px;
}

.Counter-dot:nth-child(5) {
    animation-delay: .8s;
    left: 220px;
}

.Counter-dot:nth-child(6) {
    animation-delay: 1s;
    left: 250px;
}

.Counter-dot:nth-child(7) {
    animation-delay: 1.2s;
    left: 280px;
}

.Counter-dot:nth-child(8) {
    animation-delay: 1.4s;
    left: 310px;
}

.CardLayout {
    position: relative;
    background-color: var(--body-bg);
}

.CardLayout-HeaderBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'Counter Counter'
        'Video Video'
        'Content Content';

    @include breakpoint.up(sm) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'Counter Counter Counter Counter'
            'Video Video Video Video'
            'Content Content Content Content';
    }

    .Section-Counter {
        grid-area: Counter;
        display: flex;
        position: relative;
        width: 83px;
        height: 83px;
        background-color: var(--black);
        align-items: center;
        justify-content: center;
        font-size: map-get($typography-scale, 7);
        color: var(--white);
        border-radius: 0 0 30px 30px;
        font-family: 'Open Sans';
        font-weight: 700;
    }

    .CardLayout-LeftBlock {
        grid-area: Content;
    }

    .CardLayout-Brands {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .CardLayout-Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        z-index: 10;

        .Content-Arrow {
            margin-top: 20px;
        }

        h1 {
            display: flex;
            margin: 20px 0;
            font-family: 'Open Sans';
            font-weight: 700;
            text-align: center;
        }

        h2 {
            display: flex;
            margin: 20px 0;
            font-family: 'Open Sans';
            font-weight: 700;
            letter-spacing: 1.2px;
        }

        p {
            width: 80%;
            font-family: 'Open Sans';
            font-size: map-get($typography-scale, 1);
            font-weight: 500;
            line-height: 1.5;
        }
    }

    .CardLayout-Intro {
        grid-area: Video;
        height: auto;
        z-index: 5;
        display: flex;
        align-items: center;

        video {
            width: 100%;
            border-radius: 50rem;
            box-shadow: 0 15px 30px -20px rgba(0, 0, 0, 0.24);
        }
    }
}


.Brand-Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 41px;
    margin: 20px 0;
    background-color: var(--white);
    border-radius: 40px;
    border: 1px solid var(--border-gray);
    box-shadow: 0 10px 40px -15px rgba(0, 0, 0, 0.38);
    animation: cloudMove 6s ease-in-out infinite;

    @include breakpoint.up(sm) {
        width: 180px;
        height: 91px;
        margin: 0;
    }

    img[data-logo="rezzy"] {
        width: 63px;
        height: auto;

        @include breakpoint.up(sm) {
            width: 113px;
        }
    }

    img[data-logo="arc"] {
        width: 81px;
        height: auto;

        @include breakpoint.up(sm) {
            width: 131px;
        }
    }
}

span.separator {
    display: flex;
    margin: 0 15px;
    font-size: 25px;

    @include breakpoint.up(sm) {
        margin: 0 30px;
        font-size: 50px;
    }
}

.CardLayout-Text {
    display: grid;
    grid-template-columns: 1fr;
    margin: 80px auto;
    gap: 40px;

    @include breakpoint.up(sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    .CardLayout-left,
    .CardLayout-right {
        p {
            width: 100%;
        }
    }
}