@use '../../settings/spacing';
@use '../../settings/colors';
@use '../../tools/breakpoint';

.Container {
    min-width: 325px;
    max-width: 1920px;
    width: 100%;
    padding: 0 map-get(spacing.$spacing, 6);
    margin: 0 auto;

    @include breakpoint.up(xs) {
        padding: 0 map-get(spacing.$spacing, 6);
    }

    @include breakpoint.up(sm) {
        padding: 0;
    }
}

.Container--medium {
    max-width: 1440px;
}

.Container--small {
    max-width: 1260px;
}

.Container--smaller {
    max-width: 1124px;
}

.Container--smallest {
    max-width: 800px;
}

.Resolution {
    position: fixed;
    bottom: 0.3rem;
    left: 0.3rem;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 600;
    z-index: 1000;

    .Resolution-size {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;

        &::before {
            @include breakpoint.up(xxs) {
                content: "Resolution";
            }
        }

        &::after {
            content: "Not compatible resotlution";

            @include breakpoint.up(xxs) {
                content: "XXS";
                padding: 0.3rem 0.6rem;
                font-size: 0.8rem;
                margin-right: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: green;
                width: 1.8rem;
                height: 1.8rem;
                border-radius: 50%;
            }

            @include breakpoint.up(xs) {
                content: "XS";
            }

            @include breakpoint.up(sm) {
                content: "SM";
            }

            @include breakpoint.up(md) {
                content: "MD";
            }

            @include breakpoint.up(lg) {
                content: "LG";
            }
        }
    }

}