@use '../../settings/colors' as *;
@use '../../settings/typography' as *;
@use '../../tools/breakpoint';

.Contact {
    padding: 60px 0;
    background-color: var(--black);
}

.ContactBlock {
    display: flex;
    flex-direction: column;
    font-family: $typography-font-family-base;
    color: var(--white);

    h3 {
        position: relative;
        margin-bottom: 20px;
        font-weight: 300;
    }

    .-name {
        grid-area: name;
        text-transform: uppercase;
    }

    .-phone {
        grid-area: phone;
        justify-self: end;
        flex-direction: row;
        align-items: center;

        @include breakpoint.up(sm) {
            justify-self: start;
        }

        svg {
            width: 24px;
            height: auto;
            margin-right: 5px;
        }
    }

    .-mail {
        grid-area: mail;
        justify-self: end;
        flex-direction: row;
        align-items: center;

        @include breakpoint.up(sm) {
            justify-self: start;
        }

        svg {
            width: 24px;
            height: auto;
            margin-right: 5px;
        }
    }
}

.ContactBlock-List {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;

    li {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        grid-template-areas:
            'name phone phone'
            'name mail mail';
        line-height: 2;

        @include breakpoint.up(sm) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-template-areas:
                'name phone mail';
        }
    }

    a {
        text-decoration: inherit;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}