@use '../../settings/colors' as *;
@use '../../settings/typography' as *;
@use '../../tools/breakpoint';

.preFooterLayout {
    border-top: 1px solid var(--border-top);
}

.preFooterLayout-Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'Content Content'
        'Image Image';
    padding-top: 40px;

    @include breakpoint.up(sm) {
        grid-template-areas: 'Content Image';
        padding: 80px 0;
    }
}

.preFooter-Info {
    grid-area: Content;
    display: flex;
    flex-direction: column;

    h2 {
        font-family: 'Open Sans';
        font-size: map-get($typography-scale, 6);
        font-weight: 700;
        margin-bottom: 50px;
    }

    p {
        font-family: 'Open Sans';
        font-size: map-get($typography-scale, 2);
        font-weight: 500;
        line-height: 1.5;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.preFooter-Image {
    grid-area: Image;
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    align-items: flex-start;

    @include breakpoint.up(sm) {
        margin: 0;
    }
}

.FooterLayout {
    display: flex;
    margin-top: 50px;
    background-color: var(--gray);

    .Footer-Grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'Brands Brands'
            'Links Links';

        @include breakpoint.up(sm) {
            grid-template-areas: 'Brands Links';
        }
    }

    .Brands {
        grid-area: Brands;
        position: relative;
        display: flex;
        justify-content: center;
        transform: translateY(-40px);

        &::after {
            content: '';
            position: absolute;
            bottom: -20px;
            height: 2px;
            width: 100%;
            background-color: var(--black);
        }

        @include breakpoint.up(sm) {
            justify-content: flex-start;
            transform: translateY(-60px);
        }

        .Brand-Logo:not(:last-child) {
            margin-right: 50px;
        }
    }

    .Brand-Links {
        grid-area: Links;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include breakpoint.up(sm) {
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
        }

        a[data-link="rezzy"],
        a[data-link="callypso"] {
            font-family: 'Open Sans';
            font-size: map-get($typography-scale, 6);
            font-weight: 700;
        }

        a:not(:last-child) {
            margin-right: 40px;;
        }

        a[data-link="rezzy"] {
            color: var(--purple);
        }

        a[data-link="callypso"] {
            color: var(--green);
        }

    }
}