@use '../../tools/breakpoint';
@use '../../settings/spacing';
@use '../../settings/colors' as *;

.Navigation {
    display: flex;
    background-color: var(--nav-bg);
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid var(--black);
    z-index: 100;

    .Navigation-menu {
        display: flex;
    }

    .Navigation-list {
        display: flex;
        width: 100%;
        padding: 5px 0;
        flex-direction: row;
        list-style-type: none;
        justify-content: flex-start;
        font-size: 20px;
        font-family: 'Open Sans';
        font-weight: 700;
        flex: 1/2;

        &.-menu {
            display: none;

            @include breakpoint.up(sm) {
                display: flex;
            }
        }

        &.-lang {
            flex: 1;
            justify-content: center;

            @include breakpoint.up(sm) {
                justify-content: end;
            }
        }
    }

    li a {
        display: flex;
        transition: all .2s cubic-bezier(0.3, 0.2, 0.1, 0.5);
        padding: 0 30px;
    }

    li.active a {
        font-weight: 600;
        color: var(--black);
    }

    li:not(.active) {

        a {
            color: var(--gray-dark);
            font-weight: 400;
        }

        &:hover a {
            font-weight: 600;
            color: var(--black);
        }
    }

    li.admin a {
        color: var(--magenta);

        &:hover {
            font-weight: 600;
            color: var(--magenta);
        }
    }
}