@use '../../settings/colors' as *;
@use '../../settings/typography' as *;

.Section-Content {

    .Section-Data {
        position: relative;

        &::before {
            content: '';
            display: flex;
            height: 2px;
            width: 100%;
            background-color: map-get($ui-colors-primary, blue);
        }

        &[data-section="three"]::before {
            background-color: map-get($ui-colors-primary, magenta);
        }

        &[data-section="four"]::before,
        &[data-section="five"]::before,
        &[data-section="six"]::before,
        &[data-section="seven"]::before,
        &[data-section="eight"]::before {
            background-color: map-get($ui-colors-primary, green);
        }
    }

    .mainSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 83px 1fr;
        grid-template-areas:
            'Counter Video Video'
            'Content Video Video';
        gap: 10px;
        padding-bottom: 40px;
    }

    .Section-Data:nth-child(4),
    .Section-Data:nth-child(5),
    .Section-Data:nth-child(6)
     {
        .Section-Data-Content {
            grid-template-rows: 100px 1fr;
        }
    }

    .Section-Data:nth-child(even) {
        .mainSection {
            grid-template-areas:
                'Video Video Counter'
                'Video Video Content';
            justify-items: end;
        }

        .Section-Counter::after {
            left: unset;
            right: 100px;
        }

        .Section-Content-Title {
            justify-content: end;
            text-align: right;
        }

        .Section-Content-Info {
            justify-items: end;
            text-align: right;
        }

        .Counter-dot {
            right: 100px;
            left: unset;
        }

        .Counter-dot:nth-child(2) {
            animation-delay: .2s;
            right: 130px;
            left: unset;
        }

        .Counter-dot:nth-child(3) {
            animation-delay: .4s;
            right: 160px;
            left: unset;
        }

        .Counter-dot:nth-child(4) {
            animation-delay: .6s;
            right: 190px;
            left: unset;
        }

        .Counter-dot:nth-child(5) {
            animation-delay: .8s;
            right: 220px;
            left: unset;
        }

        .Counter-dot:nth-child(6) {
            animation-delay: 1s;
            right: 250px;
            left: unset;
        }

        .Counter-dot:nth-child(7) {
            animation-delay: 1.2s;
            right: 280px;
            left: unset;
        }

        .Counter-dot:nth-child(8) {
            animation-delay: 1.4s;
            right: 310px;
            left: unset;
        }
    }

    .Section-Counter {
        grid-area: Counter;
        display: flex;
        position: relative;
        width: 83px;
        height: 83px;
        background-color: map-get($ui-colors-primary, green);
        align-items: center;
        justify-content: center;
        font-size: map-get($typography-scale, 7);
        color: map-get($ui-colors-primary, white);
        border-radius: 0 0 30px 30px;
        font-family: 'Roboto';
        font-weight: 700;

        .Counter-dot {
            background-color: map-get($ui-colors-primary, green);
        }

        &[data-id="2"] {
            background-color: map-get($ui-colors-primary, blue);

            .Counter-dot {
                background-color: map-get($ui-colors-primary, blue);
            }
        }

        &[data-id="3"] {
            background-color: map-get($ui-colors-primary, magenta);

            .Counter-dot {
                background-color: map-get($ui-colors-primary, magenta);
            }
        }
    }

    .Section-Data-Content {
        grid-area: Content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr;
        flex-direction: column;
    }

    .Section-Content-Title {
        display: flex;
        font-size: map-get($typography-scale, 4);
        align-items: start;

        span {
            font-size: 40px;
            font-weight: 700;
            color: map-get($ui-colors-primary, blue);
        }

        h2 {
            font-family: 'Roboto';
            font-weight: 700;
            letter-spacing: 1.2px;
        }
    }

    .Section-Content-Info {
        display: grid;

        p {
            font-family: 'Roboto';
            font-size: map-get($typography-scale, 1);
            font-weight: 500;
            line-height: 1.5;
        }

        p:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .Section-Content-Intro {
        grid-area: Video;
        display: grid;
        align-items: center;
        justify-content: center;

        video {
            width: 100%;
        }
    }
}