@use '../../settings/colors' as *;
@use '../../settings/typography' as *;
@use '../../tools/breakpoint';

.Section-Content {

    .Section-Data {
        position: relative;

        &::before {
            content: '';
            display: flex;
            height: 1px;
            width: 100%;
            background-color: var(--blue);
        }

        &[data-section="three"]::before {
            background-color: var(--magenta);
        }

        &[data-section="four"]::before {
            background-color: var(--green);
        }

        &[data-section="five"]::before {
            background-color: var(--blue);
        }

        &[data-section="six"]::before {
            background-color: var(--magenta);
        }

        &[data-section="seven"]::before {
            background-color: var(--green);
        }

        &[data-section="eight"]::before {
            background-color: var(--blue);
        }
    }

    .mainSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas:
            'Counter Counter '
            'Title Title '
            'Video Video'
            'Text Text ';
        column-gap: 40px;
        row-gap: 20px;
        padding-bottom: 100px;

        @include breakpoint.up(sm) {
            grid-template-columns: repeat(5, 1fr);
            grid-template-areas:
                'Counter Counter Counter Counter Counter'
                'Title Title Video Video Video'
                'Text Text Video Video Video'
                'Text Text Video Video Video';
        }
    }

    .Section-Data {

        &[data-section='two'] {
            background-color: var(--section-bg-blue);
        }

        &[data-section='three'] {
            background-color: var(--section-bg-magenta);
        }

        &[data-section='four'] {
            background-color: var(--section-bg-green);
        }

        &[data-section='five'] {
            background-color: var(--section-bg-blue);
        }

        &[data-section='six'] {
            background-color: var(--section-bg-magenta);
        }

        &[data-section='seven'] {
            background-color: var(--section-bg-green);
        }

        &[data-section='eight'] {
            background-color: var(--section-bg-blue);
        }
    }

    .Section-Data:nth-child(even) {

        .mainSection {
            grid-template-areas:
                'Counter Counter '
                'Title Title '
                'Video Video'
                'Text Text ';
            justify-items: end;

            @include breakpoint.up(sm) {
                grid-template-areas:
                    'Counter Counter Counter Counter Counter'
                    'Video Video Video Title Title'
                    'Video Video Video Text Text'
                    'Video Video Video Text Text';
            }
        }

        .Section-Content-Intro {
            align-items: start;
            justify-items: start;
        }

        .Section-Counter::after {
            left: unset;
            right: 100px;
        }

        .Section-Content-Title {
            justify-content: end;
            text-align: right;
        }

        .Section-Content-Info {
            justify-items: end;
            text-align: right;
            opacity: 0;
            transform: translateZ(30px) translateY(30px);
            transition: all 0.5s ease-in-out;

            &.-show {
                opacity: 1;
                transform: translateZ(0) translateY(0);
            }
        }

        .Counter-dot {
            right: 100px;
            left: unset;
        }

        .Counter-dot:nth-child(2) {
            animation-delay: .2s;
            right: 130px;
            left: unset;
        }

        .Counter-dot:nth-child(3) {
            animation-delay: .4s;
            right: 160px;
            left: unset;
        }

        .Counter-dot:nth-child(4) {
            animation-delay: .6s;
            right: 190px;
            left: unset;
        }

        .Counter-dot:nth-child(5) {
            animation-delay: .8s;
            right: 220px;
            left: unset;
        }

        .Counter-dot:nth-child(6) {
            animation-delay: 1s;
            right: 250px;
            left: unset;
        }

        .Counter-dot:nth-child(7) {
            animation-delay: 1.2s;
            right: 280px;
            left: unset;
        }

        .Counter-dot:nth-child(8) {
            animation-delay: 1.4s;
            right: 310px;
            left: unset;
        }
    }

    .Section-Counter {
        grid-area: Counter;
        display: flex;
        position: relative;
        width: 83px;
        height: 83px;
        background-color: var(--green);
        align-items: center;
        justify-content: center;
        font-size: map-get($typography-scale, 7);
        color: var(--white);
        border-radius: 0 0 30px 30px;
        font-family: 'Open Sans';
        font-weight: 700;

        .Counter-dot {
            background-color: var(--green);
        }

        &[data-id='2'] {
            background-color: var(--blue);

            .Counter-dot {
                background-color: var(--blue);
            }
        }

        &[data-id='3'] {
            background-color: var(--magenta);

            .Counter-dot {
                background-color: var(--magenta);
            }
        }

        &[data-id='4'] {
            background-color: var(--green);

            .Counter-dot {
                background-color: var(--green);
            }
        }

        &[data-id='5'] {
            background-color: var(--blue);

            .Counter-dot {
                background-color: var(--blue);
            }
        }

        &[data-id='6'] {
            background-color: var(--magenta);

            .Counter-dot {
                background-color: var(--magenta);
            }
        }

        &[data-id='7'] {
            background-color: var(--green);

            .Counter-dot {
                background-color: var(--green);
            }
        }

        &[data-id='8'] {
            background-color: var(--blue);

            .Counter-dot {
                background-color: var(--blue);
            }
        }
    }

    .Section-Content-Title {
        grid-area: Title;
        display: flex;
        font-size: map-get($typography-scale, 4);
        align-items: start;
        flex: 1;
        min-height: 120px;

        span {
            font-size: 40px;
            font-weight: 700;
            // color: var(--blue);
        }

        h2 {
            font-family: 'Open Sans';
            font-weight: 700;
            letter-spacing: 1.2px;
        }
    }

    .Section-Content-Info {
        grid-area: Text;
        display: flex;
        flex-direction: column;
        flex: 2;
        opacity: 0;
        transform: translateZ(30px) translateY(30px);
        transition: all 0.5s ease-in-out;

        &.-show {
            opacity: 1;
            transform: translateZ(0) translateY(0);
        }

        p {
            font-family: 'Open Sans';
            font-size: map-get($typography-scale, 1);
            font-weight: 500;
            line-height: 1.5;
        }

        p:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .Section-Content-Intro {
        grid-area: Video;
        display: grid;
        align-items: start;
        justify-items: end;

        video {
            width: 100%;
            border-radius: 20rem;
            box-shadow: 0 10px 25px 5px rgba(0,0,0, .04);
        }
    }
}